<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 
                              https://maven.apache.org/xsd/settings-1.0.0.xsd">

  <mirrors>
    <mirror>
      <id>github-mirror</id>
      <name>GitHub Maven Central Mirror</name>
      <url>https://maven.pkg.github.com/Shalini-source/mob-backend-lib</url>
      <mirrorOf>central</mirrorOf>
    </mirror>
  </mirrors>

  <servers>
    <server>
      <id>github</id>
      <username>${env.MAVEN_USERNAME}</username>
      <password>${env.MAVEN_PASSWORD}</password>
    </server>
  </servers>

  <profiles>
    <profile>
      <id>use-github</id>
      <repositories>
        <repository>
          <id>github</id>
          <url>https://maven.pkg.github.com/Shalini-source/mob-backend-lib</url>
        </repository>
      </repositories>
    </profile>
  </profiles>

  <activeProfiles>
    <activeProfile>use-github</activeProfile>
  </activeProfiles>

</settings>
